<!DOCTYPE html>
<html>
	<head>
		<title>Emission Estimation</title>
	    <meta charset="utf-8">
	    <script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
	    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
	    <link rel="stylesheet" type="text/css" href="build/css/main.css?v=1.0.1">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="forecast" id="forecast">
			<div class="topbar">
				<div class="title"><a href="./">空汙排放推估</a></div>
				<div class="top-nav">
					<ul>
						<li><a href="about.html">關於本站</a></li>
						<li><a href="forecast.html">預報實驗</a></li>
					</ul>
				</div>
				<div class="top-menu">
					<img src="image/menu-button.svg">
				</div>
			</div>
			<div class="bar-padding"></div>
			<div class="toggle-menu">
				<ul>
					<li><a href="about.html">關於本站</a></li>
					<li><a href="forecast.html">預報實驗</a></li>
				</ul>
			</div>
			
			<div class="category">{{sourceName}} - {{dateSelect}} 三日預報</div>
			<div class="forecast-container slide-3col">
				<div>
					<div class="forecast-title">預報第一天</div>
					<img class="forecast-image" id="F1" v-bind:src="imageSrc[0]">
				</div>
				<div>
					<div class="forecast-title">預報第二天</div>
					<img class="forecast-image" id="F2" v-bind:src="imageSrc[1]">
				</div>
				<div>
					<div class="forecast-title">預報第三天</div>
					<img class="forecast-image" id="F3" v-bind:src="imageSrc[2]">
				</div>
			</div>
		 	<div class="bar-padding"></div>

			<div class="control-bar center">
				資料選擇: <select id="sourceSelect" v-model="sourceIndex" v-on:change="ChangeSource">
					<option v-for="(source,index) in sourceList" v-bind:value="index">
						{{source.name}}
					</option>
				</select>
				日期: <input type="date" min="2017-12-01" max="2017-12-29" v-model="dateSelect" v-on:input="ChangeDate">
				
			</div>
		</div>
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
	    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false&key=AIzaSyBUGDJex2sQeScb1Wxcm7oiPGwdmyoLhHM"></script>
	    
	    <!--<script src="https://unpkg.com/vue"></script>-->
	    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
	    <script src="js/moment.min.js"></script>
	    <script src="js/util.js?v=1.0.0"></script>
	    <script src="js/forecast.js?v=1.0.0"></script>
	</body>
</html>