<!DOCTYPE html>
<html>
	<head>
		<title>Emission Estimation</title>
	    <meta charset="utf-8">
	    <link rel="stylesheet" type="text/css" href="build/css/main.css?v=1.0.0">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div id="app">
			<div class="topbar">
				<div class="title"><a href="./">空汙排放推估</a></div>
				<div class="top-nav">
					<ul>
						<li><a href="about.html">關於本站</a></li>
						<li><a href="forecast.html">預報實驗</a></li>
					</ul>
				</div>
				<div class="top-menu">
					<img src="image/menu-button.svg">
				</div>
			</div>
			<div class="bar-padding"></div>
			<div class="toggle-menu">
				<ul>
					<li><a href="about.html">關於本站</a></li>
					<li><a href="forecast.html">預報實驗</a></li>
				</ul>
			</div>
			
			<div class="map-container">
				<div id="dataMap"></div>
				<div>
					<img class="map-option" src="image/option.png" v-on:click="OpenMapOption">
					<div class="option-panel" v-if="dataMap.showOption">
						<div class="center-panel">
							<div>空氣指標 <input type="checkbox" v-model="dataMap.showEPA" v-on:change="UpdateMap"></div>
							<div>風向 <input type="checkbox" v-model="dataMap.showWind" v-on:change="UpdateMap"></div>
						</div>
						<div class="close-bt" v-on:click="CloseMapOption">X</div>
					</div>
				</div>
			</div><!-- white space will make 50% width exceed a single row
		 --><div id="dataTable">
		 		<div class="h-scroll">
		 			<div class="data-option">
			 			<div class="title">{{dataTable.opTitle}}</div>
			 			<select v-model="dataTable.opSelect" v-on:change="ChangeDataOption">
			 				<option v-for="option in dataTable.opList" v-bind:value="option.value">
								{{option.name}}
							</option>
			 			</select>
			 			篩選: <input type="text" v-model="dataTable.filterWord" v-on:change="UpdateFilterRows">
		 			</div>
		 			<div class="radio-container" v-show="sourceSelect=='cems'">
		 				資料類型:
		 				<input type="radio" value="activity" v-model="dataTable.type"
		 					v-on:change="UpdateTable">活動強度
						<input type="radio" value="emission" v-model="dataTable.type"
							v-on:change="UpdateTable">排放推估
		 			</div>
		 			<div class="info">資料筆數: {{dataTable.length}}，篩選筆數: {{dataTable.filterRows.length}}</div>
			 		<table>
			 			<thead>
				 			<tr>
				 				<th v-for="key in dataTable.keys"
				 					v-bind:class="{long: key.isLong}">{{key.name}}</th>
				 			</tr>
			 			</thead>
			 			<tbody>
				 			<tr v-for="row in dataTable.filterRows">
				 				<td v-for="key in dataTable.keys">{{row[key.value]}}</td>
				 			</tr>
			 			</tbody>
			 		</table>
		 		</div>
		 		<div class="loading-overlay" v-if="dataTable.loading">
		 			<img src="image/loading.gif">
		 		</div>
		 	</div>
		 	<div class="bar-padding"></div>

			<div class="control-bar center">
				資料選擇: <select v-model="sourceSelect" v-on:change="ChangeSource">
					<option v-for="source in sourceList" v-bind:value="source.value">
						{{source.name}}
					</option>
				</select>
				日期: <input type="date" v-model="dateSelect" v-on:input="ChangeDate">
				小時: <input type="number" v-model="hourSelect" v-on:input="ChangeHour" min="0" max="23" step="1">
			</div>
		</div>
		
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.9/d3.min.js"></script>
	    <script src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=false&key=AIzaSyBUGDJex2sQeScb1Wxcm7oiPGwdmyoLhHM"></script>
	    <script src="https://code.jquery.com/jquery-2.2.2.min.js"   integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="   crossorigin="anonymous"></script>
	    <!--<script src="https://unpkg.com/vue"></script>-->
	    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

	    <script src="js/util.js?v=1.0.0"></script>
	    <script src="js/dataMap.js?v=1.0.0"></script>
	    <script src="js/dataTable.js?v=1.0.0"></script>
	    <script src="js/main.js?v=1.0.0"></script>
	</body>
</html>