//==============Responsive================
$pc-media: 800px;
@mixin pc-width() {
    @media only screen and (min-width: $pc-media) {
        @content;
    }
}
//===================General======================
html, body { 
  height: 100%; margin: 0; padding: 0; 
}

* {
    box-sizing: border-box;
    font-family: "微軟正黑體", "Microsoft JhengHei";
}

.center{
    display: block;
    margin: auto;
    clear: both;
    text-align: center;
}

.h-scroll{
  margin: 0px 10px;
  width: calc(100% - 20px);
  overflow-x: auto;
}

.content-container {
    max-width: 75em;
    margin: auto;
    padding: 0px;
    clear: both;
}

@mixin bt{
	display: inline-block;
	padding: 5px 10px;
	cursor: pointer;
}

//================app=======================
#app{
	width: 100%;
	height: 100%;
}

.filter-bar{
	padding: 0px 10px;
	input{
		position: relative;
		top: -1px;
		padding: 5px;
	}
	.clickBt{
		@include bt;
		margin: 5px 0px;
		background-color: #aaaaaa;
		&:hover{
			background-color: #bbbbbb;
		}
	}
}

//================topbar=======================
.topbar{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 60px;
	width: 100%;
	padding: 10px;
	background-color: #EAE1FF;
	border-bottom: 1px solid rgb(150,150,150);
	.title{
		font-size: 1.5em;
		margin: 0px 20px;
		font-weight: bold;
	}
	ul{
		position: absolute;
		top: 0px;
		right: 20px;
		li{
			cursor: pointer;
			padding: 10px 20px 5px 20px;
			display: inline-block;
			color: #555555;
			&:hover{
				color: #7A91BC;
				border-bottom: 3px solid #4871BC;
			}
		}
	}
}
.bar-padding{
	height: 60px;
}

//==================dataMap=====================
#dataMap{
	border: none;
	@include pc-width{
		border-right: 1px solid rgb(150,150,150);
	}
	background-color: #eeeeee;
	display: inline-block;
	width: calc(100%);
	height: calc(100% - 120px);
	margin: 0px;
	@include pc-width{
		width: calc(50%);
	}
}

//=================dataTable=================
#dataTable{
	position: relative;
	background-color: #FFFFFF;
	display: inline-block;
	width: calc(100%);
	height: calc(100% - 120px);
	margin: 0px;
	overflow: auto;
	@include pc-width{
		width: calc(50%);
	}
	.data-option{
		.title{
			display: inline-block;
			margin: 10px 0px;
		}
		select{
			padding: 5px;
		}
	}
	.info{
		margin: 0px;
	}
	.long{
		min-width: 300px;
	}
	table{
		margin: 10px 0px;
        border-collapse: collapse;
        vertical-align: top;
        min-width: 100%;
        caption{
            padding: 5px;
        }
        th{
            padding: 10px;
            background-color: #97BCAB;
            border: 1px solid #9E9E9E;
        }
        tr{
        	&:nth-child(even) {
		        background-color: #eeeeee;
		    }
		    &:nth-child(odd) {
		        background-color: #ffffff;
		    }
        }
        td{
        	min-width: 100px;
            padding: 10px;
            color: black;
            text-align: left;
        }
    }
    .loading-overlay{
    	background-color: rgba(50,50,50,0.2);
    	position: absolute;
    	top: 0px;
    	left: 0px;
    	width: 100%;
    	height: 100%;
    	img{
    		position: relative;
			top: 50%;
			left: 50%;
    		-webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		    transform: translateY(-50%);
		    -webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		    transform: translateX(-50%);
		    width: 100px;
    	}
    }
}

//===============control-bar==================
.control-bar{
	border-top: 1px solid rgb(250,250,250);
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 60px;
	width: 100%;
	padding: 10px;
	background-color: #D8E8CA;
	input{
		padding: 5px;
	}
	select{
		padding: 5px;
	}
}